// Styling for the Projects section

@import "../../Theme";

section#projects {
    .projects-container {
        > * {
            @include drawn-in;
            position: relative;
        }
    }

    .award {
        position: absolute;
        top: -1rem;
        right: -1rem;
        z-index: 1;

        &:hover {
            img {
                transform: translateY(-2px) scale(1.05, 1.05);
            }
        }

        img {
            height: 6rem;
            width: auto;
            user-select: none;
            -webkit-user-drag: none;   
            transition: transform 0.2s ease-in-out;
        }
    }

    .project {
        width: 100%;
        height: 100%;

        .content {
            $transition: 0.5s ease-in-out;

            .options {
                transform: translateZ(1px);

                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        height: 1.1rem;

                        @include for-mobile {
                            height: 0.85rem;
                        }

                        width: auto;
                        transition: $transition;
                        transition-property: opacity, transform, height, width;

                        @include for-ie {
                            width: 1.5rem;
                        }
                    }

                    span {
                        display: inline-flex;
                        max-width: 0;
                        overflow: hidden;
                        white-space: nowrap;
                        transition: $transition;
                        transition-property: max-width;
                    }

                    &:hover {
                        svg {
                            opacity: 0;
                            transform: scale(0,0);
                            height: 0;
                            
                            @include for-ie {
                                width: 0;
                            }
                        }
                        span {
                            max-width: 10rem;
                        }
                    }
                }
            }

            .slider {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateY(100%);
                transition: transform 0.5s ease-in-out;

                &[opened] {
                    transform: translateY(0);
                }

                .title {
                    .close-btn-wrapper {
                        padding-right: 1rem;
                        .close {
                            > svg {
                                width: 0.75rem;
                                height: auto;
                            }
    
                            @include for-ie {
                                $size: 1.1rem;
    
                                height: 0;
                                width: $size;
                                padding-top: $size;
        
                                > svg {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .body {
                    .details {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
}