// Styling for the Connect section

@import "../../Theme";

$logo-sizes: 3rem, 2rem;
$icon-sizes: 2rem, 1.5rem;

section#connect {
    .direct-connect {
        .form-container {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;

            form {
                input, textarea {
                    display: block;
                    width: 100%;
                    outline: none;
                    border: none;
                    padding: 0.75rem 1rem;
                    margin: 0.5rem auto;
                    border-radius: 0;
                    background: theme-background-color(darker);
                    color: theme-font-color(darker);
    
                    font-family: inherit;
                    @include font-size(7);
    
                    &:focus {
                        outline: none;
                    }
                }
    
                textarea {
                    resize: vertical;
                }
    
                img.formspree {
                    $sizes: get-font-size(8);
                    width: auto;
                    opacity: 0.35;
                    -webkit-user-drag: none;
    
                    height: nth($sizes, 1);
    
                    @include for-mobile {
                        height: nth($sizes, 2);
                    }
                }
            }
        }
    }

    .footer {
        $opacity: 0.35;

        color: rgba(white, $opacity);

        .logo {
            $size: nth($logo-sizes, 1);
            width: $size;
            height: $size;

            @include for-mobile {
                $size: nth($logo-sizes, 2);
                width: $size;
                height: $size;
            }

            margin-right: 0.5rem;
            opacity: $opacity;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../images/Logo/Mono 2.svg');
        }

        .social-icons {
            .social {
                >.btn {
                    $size: nth($icon-sizes, 1);
                    width: $size;
                    height: $size;

                    @include for-mobile {
                        $size: nth($icon-sizes, 2);
                        width: $size;
                        height: $size;
                    }

                    >svg {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }

        .note {
            .react-icon {
                @keyframes react-spin {
                    from {
                        transform: rotate(0);
                    }
                    to {
                        transform: rotate(1turn);
                    }
                }

                animation: react-spin 5s linear infinite;
            }
        }
    }
}