// Styling for the Skills section

@import "../../Theme.scss";

section#skills {
    margin-top: -12rem;

    ul.hex-grid:not(:last-child) {
        + * {
            margin-top: 2.5rem;
        }
    }

    .skills-filter {
        margin: 0 auto 1rem;
        width: 100%;
        max-width: 320px;

        .filter-title {
            text-decoration-line: underline;
            text-decoration-style: dotted;
            text-decoration-color: transparent;
            transition: 0.2s;
            transition-property: text-decoration-color;
            &:hover {
                text-decoration-color: inherit;
            }
        }
    }
}