// Styling for the sections in the navigation menu

@use 'sass:math';

@import "../Theme";
@import "Variables";

header.navigation {
    .sections {
        height: calc(100% - #{$container_size} - 2px);
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        > a {
            width: 100%;
            min-height: 40px;
            position: relative;
            flex: 1;
            flex-basis: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: font-family(logo);
            text-transform: uppercase;
            font-weight: font-weight(bold);
            color: font-color(white);
            border-bottom: 10px inset shadow(0.35);

            > svg {
                width: 100% !important;
                height: 40%;
                min-height: 24px;

                > path {
                    fill: white;
                }
            }
                
            // Create an incremental gradient for each section
            $base-color: #639674;
            $sections: 
                about,
                skills,
                experience,
                projects,
                education, 
                connect;
            $step-size: math.div(360, length($sections));
            @for $i from 0 to length($sections) {
                $section: nth($sections, $i + 1);
                &[href=\##{$section}] {
                    background-color: adjust-hue($base-color, $step-size * $i);
                }
            }

            > .slider {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateX(-100%) translateX(16px);
                width: 100%;
                background-color: theme-background-color(dark);
                transition: left 0.5s, transform 0.5s;
                z-index: 1;
                text-transform: uppercase;
                color: font-color(white);
                font-family: font-family(logo);
                font-size: 1.15rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 10px inset shadow(0.5);
            }

            &:hover, &[selected] {
                > .slider {
                    transform: translateX(0);
                }
            }
        }
    }
}