// Styling for the title in the navigation menu

@import "../Theme";
@import "Variables";

// Container for the navigation menu's title
header.navigation div.header {
    background: white;
    list-style-type: none;
    padding: calc((#{$container-size} - #{$title_size}) / 2) 4rem 0 3rem;
    height: $container_size;
    user-select: none;
    -webkit-user-select: none;
}

// Logo in the title
.navigation .header .title .logo {
    height: 3rem;
    width: 100%;
    -webkit-user-drag: none;

    img {
        height: inherit;
        width: auto;
    }
}

// Text for the title
.navigation .header .title .text {
    $font-size: 0.825rem;
    font-size: $font-size;
    color: font-color(dark);
    font-weight: font-weight(bold);
    font-family: font-family(logo);
    text-transform: uppercase;
    line-height: 0.825rem;
}

// Line break to separate title from sections
.navigation hr {
    margin: 0 auto;
    border: none;
    background-color: shadow(0.1);
    height: 3px;
}
