// Styling for the <section> tag and content

@import "../../Theme.scss";

@mixin custom-visual-tag($tag, $content: "") {
    section##{to-lower-case($tag)} {
        &.has-visual-tags {
            &::before {
                @if($content != "") {
                    content: "<#{$tag} #{$content}>";

                    @include for-mobile {
                        content: "<#{$tag}>";
                    }
                }
                @else {
                    content: "<#{$tag}>";
                }
            }
            &::after {
                content: "</#{$tag}>";
            }
        }
    }
}

@include custom-visual-tag(Skills);
@include custom-visual-tag(Experience);
@include custom-visual-tag(Projects, "class=\"recent\"");
@include custom-visual-tag(Education);

section {
    width: 100%;
    position: relative;

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }
}

.section {
    padding: 5rem 1.5rem;

    @each $name, $setting in $themes {
        &.is-#{$name} {
            background-color: theme-background-color($name);
            color: theme-font-color($name);

            *::selection {
                $selection: map-get($setting, selection);
                background-color: map-get($selection, background-color);
                color: map-get($selection, color);
            }
        }
    }

    &.is-primary {
        @mixin is-wavy-both {
            content: "";
            position: absolute;
            left: -2px;
            width: calc(100% + 4px);
            height: 100px;
            background-size: 100% 100px;
            background-image: url('../images/Content/Divider.svg');
            background-position: top;
            background-repeat: no-repeat;
        }

        &.is-wavy-top {
            &::before {
                @include is-wavy-both;
                bottom: calc(100% - 1px);
                transform: rotate(180deg);
            }
        }

        &.is-wavy-bottom {
            &::after {
                @include is-wavy-both;
                top: calc(100% - 1px);
            }
        }
    }

    &.is-long {
        padding-bottom: 12rem;
    }

    &.has-no-top-padding {
        padding-top: 0;
    }

    &.has-no-bottom-padding {
        padding-bottom: 0;
    }

    &.has-visual-tags {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        >* {
            width: 100%;
        }

        &::before, &::after {
            position: relative;
            font-family: font-family(handwriting);
            font-weight: 700;
            margin: 0 auto;
            opacity: 0.5;
            width: 100%;
            max-width: 1000px;
            user-select: none;

            font-size: 1.25rem;
            @include for-mobile {
                font-size: 1rem;
            }

        }

        &::before {
            content: "<Section>";
            top: -1rem;
            text-align: left;
        }

        &::after {
            content: "</Section>";
            top: 1rem;
            text-align: right;
        }
    }

    .spaced {
        > * {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .extra-bottom {
        margin-bottom: 2.5rem !important;
    }
}

// Fade-in animation
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}