// Styling for canvas at top of page

@import "../Theme";

div.canvas {
    position: relative;
}

div.canvas canvas#particles {
    width: 100%;
    height: 90vh;
    background: radial-gradient(ellipse at bottom, #26394D 0%, #090A0F 100%)
}

div.canvas div.canvas-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    pointer-events: none;
}

div.canvas div.canvas-text {
    font-family: "Nunito Sans";
    font-weight: $font-weight-light;
    color: white;
    word-wrap: break-word;
    user-select: none;
    -webkit-user-select: none;
    transition: opacity 1s;
    transform: translateZ(0) scale(1.0, 1.0);
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

div.canvas div.canvas-text .gradient {
    $gradient: #052342;
    background: linear-gradient(white, $gradient);
    background: -webkit-linear-gradient(white, $gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include for-ie {
        background: none;
        opacity: 0.5 !important;
    }
}

div.canvas div.canvas-text.preload {
    opacity: 0 !important;
}

div.canvas div.canvas-text .bold {
    opacity: 1;
}

div.canvas div.canvas-text .light {
    opacity: 0.5;
}

div.canvas div.canvas-text .lg {
    @include for-mobile {
        font-size: 32pt;
    }
    @include for-tablet-portrait-up {
        font-size: 48pt;
    }
    @include for-tablet-landscape-up {
        font-size: 64pt;
    }
    @include for-desktop-up {
        font-size: 96pt;
    }
}

div.canvas div.canvas-text .sm {
    @include for-mobile {
        font-size: 12pt;
    }
    @include for-tablet-portrait-up {
        font-size: 18pt;
    }
    @include for-tablet-landscape-up {
        font-size: 24pt;
    }
    @include for-desktop-up {
        font-size: 32pt;
    }
}

@mixin position-canvas-text($left, $vertical) {
    left: $left;
    transform: translate(-$left, -$vertical) translateZ(0) scale(1.0, 1.0);
    -webkit-transform: translate(-$left, -$vertical) translateZ(0) scale(1.0, 1.0);
}


div.canvas div.canvas-text.design {
    position: absolute;
    $vertical: 0%;
    top: $vertical;

    @include for-mobile {
        @include position-canvas-text(50%, $vertical);
    }
    @include for-tablet-portrait-up {
        @include position-canvas-text(10%, $vertical);
    }
}

div.canvas div.canvas-text.develop {
    position: absolute;
    $vertical: 33%;
    top: $vertical;

    @include for-mobile {
        @include position-canvas-text(50%, $vertical);
    }
    @include for-tablet-portrait-up {
        @include position-canvas-text(36%, $vertical);
    }
}

div.canvas div.canvas-text.deploy {
    position: absolute;
    $vertical: 66%;
    top: $vertical;

    @include for-mobile {
        @include position-canvas-text(50%, $vertical);
    }
    @include for-tablet-portrait-up {
        @include position-canvas-text(56%, $vertical);
    }
}

div.canvas div.canvas-text.discover {
    position: absolute;
    $vertical: 100%;
    top: $vertical;

    @include for-mobile {
        @include position-canvas-text(50%, $vertical);
    }
    @include for-tablet-portrait-up {
        @include position-canvas-text(90%, $vertical);
    }
}
