// Styling for logo in the page's header

@import "../Theme";

// Working with the header itself
header.logo {
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: white;
    user-select: none;
    -webkit-user-select: none;

    .row {
        max-width: 75rem;
        margin: 0 auto;

        .image {
            $width: 4.675rem;
            width: $width;
            height: $width;
            margin-right: 0.25rem;
            position: relative;
    
            img {
                height: inherit;
                width: inherit;
                position: absolute;
                -webkit-user-drag: none;
                transform-origin: center center;
                -webkit-transform-origin: center center;
    
                $animation-time: 1.5s;
    
                &:not(.preload) {
                    transition: transform $animation-time;
                    -webkit-transition: $animation-time;
                    transform: scale(1,1) rotate(0deg);
                    -webkit-transform: scale(1,1) rotate(0deg);
                }
    
                &.preload {
                    &.outer {
                        transform: scale(0,0) rotate(360deg);
                        -webkit-transform: scale(0,0) rotate(360deg);
                    }
    
                    &.inner {
                        transform: scale(0,0) rotate(-180deg);
                        -webkit-transform: scale(0,0) rotate(-180deg);
                    }
                }
            }
        }
    
        .info {
            margin-top: 0.825rem;
            font-weight: font-weight(bold);
            font-family: font-family(logo);
            text-transform: uppercase;

            @include for-mobile {
                display: none;
            }

            .name {
                font-size: 1.35rem;
            }

            .title {
                font-size: 0.8rem;
            }
        }
    }
}