// Styling for logo in the page's header

@import "../Theme";

// Working with the header itself
header.logo {
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: white;
    user-select: none;
    -webkit-user-select: none;

    .row {
        max-width: 75rem;
        margin: 0 auto;
    }
}

// Image container specifically
header.logo div.image {
    $width: 4.675rem;
    width: $width;
    height: $width;
    margin-right: 0.25rem;
    position: relative;
}

// Make the logo image fit to its container
header.logo div.image img {
    height: inherit;
    width: inherit;
    position: absolute;
    -webkit-user-drag: none;
}

// Time for logo to animate in
$animation-time: 1.5s;

// Default positioning for logo
header.logo div.image img:not(.preload) {
    transition: transform $animation-time;
    -webkit-transition: $animation-time;
    transform: scale(1,1) rotate(0deg);
    -webkit-transform: scale(1,1) rotate(0deg);
    transform-origin: center;
    -webkit-transform-origin: center;
}

// Preloaded position for inner image
header.logo div.image img.preload.outer {
    transform: scale(0,0) rotate(360deg);
    -webkit-transform: scale(0,0) rotate(360deg);
    transform-origin: center;
    -webkit-transform-origin: center;
}

// Preloaded position for outer image
header.logo div.image img.preload.inner {
    transform: scale(0,0) rotate(-180deg);
    -webkit-transform: scale(0,0) rotate(-180deg);
    transform-origin: center;
    -webkit-transform-origin: center;
}

// Remove text decoration from links
header.logo a {
    text-decoration: none;
}

// Positioning for info next to logo
header.logo .info {
    margin-top: 0.825rem;
    font-weight: font-weight(bold);
    font-family: font-family(logo);
    text-transform: uppercase;

    @include for-mobile {
        display: none;
    }
}

// Name styling
header.logo .info .name {
    color: font-color(dark);
    font-size: 1.35rem;
}

// Title styling
header.logo .info .title {
    color: font-color(light);
    font-size: 0.8rem;
}