
div.canvas {
  position: relative; }

div.canvas canvas#particles {
  width: 100%;
  height: 90vh;
  background: radial-gradient(ellipse at bottom, #26394D 0%, #090A0F 100%); }

div.canvas div.canvas-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  pointer-events: none; }

div.canvas div.canvas-text {
  font-family: "Nunito Sans";
  font-weight: 200;
  color: white;
  word-wrap: break-word;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 1s;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1); }

div.canvas div.canvas-text .gradient {
  background: linear-gradient(white, #052342);
  background: -webkit-linear-gradient(white, #052342);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    div.canvas div.canvas-text .gradient {
      background: none;
      opacity: 0.5 !important; } }

div.canvas div.canvas-text.preload {
  opacity: 0 !important; }

div.canvas div.canvas-text .bold {
  opacity: 1; }

div.canvas div.canvas-text .light {
  opacity: 0.5; }

@media screen and (max-width: 599px) {
  div.canvas div.canvas-text .lg {
    font-size: 32pt; } }

@media screen and (min-width: 600px) {
  div.canvas div.canvas-text .lg {
    font-size: 48pt; } }

@media screen and (min-width: 900px) {
  div.canvas div.canvas-text .lg {
    font-size: 64pt; } }

@media screen and (min-width: 1200px) {
  div.canvas div.canvas-text .lg {
    font-size: 96pt; } }

@media screen and (max-width: 599px) {
  div.canvas div.canvas-text .sm {
    font-size: 12pt; } }

@media screen and (min-width: 600px) {
  div.canvas div.canvas-text .sm {
    font-size: 18pt; } }

@media screen and (min-width: 900px) {
  div.canvas div.canvas-text .sm {
    font-size: 24pt; } }

@media screen and (min-width: 1200px) {
  div.canvas div.canvas-text .sm {
    font-size: 32pt; } }

div.canvas div.canvas-text.design {
  position: absolute;
  top: 0%; }
  @media screen and (max-width: 599px) {
    div.canvas div.canvas-text.design {
      left: 50%;
      transform: translate(-50%, 0%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-50%, 0%) translateZ(0) scale(1, 1); } }
  @media screen and (min-width: 600px) {
    div.canvas div.canvas-text.design {
      left: 10%;
      transform: translate(-10%, 0%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-10%, 0%) translateZ(0) scale(1, 1); } }

div.canvas div.canvas-text.develop {
  position: absolute;
  top: 33%; }
  @media screen and (max-width: 599px) {
    div.canvas div.canvas-text.develop {
      left: 50%;
      transform: translate(-50%, -33%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-50%, -33%) translateZ(0) scale(1, 1); } }
  @media screen and (min-width: 600px) {
    div.canvas div.canvas-text.develop {
      left: 36%;
      transform: translate(-36%, -33%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-36%, -33%) translateZ(0) scale(1, 1); } }

div.canvas div.canvas-text.deploy {
  position: absolute;
  top: 66%; }
  @media screen and (max-width: 599px) {
    div.canvas div.canvas-text.deploy {
      left: 50%;
      transform: translate(-50%, -66%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-50%, -66%) translateZ(0) scale(1, 1); } }
  @media screen and (min-width: 600px) {
    div.canvas div.canvas-text.deploy {
      left: 56%;
      transform: translate(-56%, -66%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-56%, -66%) translateZ(0) scale(1, 1); } }

div.canvas div.canvas-text.discover {
  position: absolute;
  top: 100%; }
  @media screen and (max-width: 599px) {
    div.canvas div.canvas-text.discover {
      left: 50%;
      transform: translate(-50%, -100%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-50%, -100%) translateZ(0) scale(1, 1); } }
  @media screen and (min-width: 600px) {
    div.canvas div.canvas-text.discover {
      left: 90%;
      transform: translate(-90%, -100%) translateZ(0) scale(1, 1);
      -webkit-transform: translate(-90%, -100%) translateZ(0) scale(1, 1); } }

bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0; }

#pattern-hex polygon {
  fill: none;
  stroke: #EBEBF4;
  stroke-width: 5; }

body {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #F4F4F9;
  color: #3C3C60;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: transform 0.5s; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
      position: relative;
      overflow-y: scroll; } }

* {
  box-sizing: border-box; }

.row {
  max-width: 75rem;
  margin: 0 auto; }

.float-container {
  overflow: hidden; }

.grid-row {
  text-align: left;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto; }

.grid-row.reverse {
  flex-direction: row-reverse; }

@media only screen and (max-width: 30rem) {
  [class*="col-sm"] {
    box-sizing: border-box;
    flex: 0 1 auto;
    padding: 0 1rem; }
  .col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .start-sm {
    justify-content: flex-start;
    text-align: start; }
  .end-sm {
    justify-content: flex-end;
    text-align: end; }
  .center-sm {
    justify-content: center;
    text-align: center; }
  .top-sm {
    align-items: flex-start; }
  .bottom-sm {
    align-items: flex-end; }
  .middle-sm {
    align-items: center; }
  .first-sm {
    order: -1; }
  .last-sm {
    order: 1; } }

@media only screen and (max-width: 60rem) {
  [class*="col-md"] {
    box-sizing: border-box;
    flex: 0 1 auto;
    padding: 0 1rem; }
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .start-md {
    justify-content: flex-start;
    text-align: start; }
  .end-md {
    justify-content: flex-end;
    text-align: end; }
  .center-md {
    justify-content: center;
    text-align: center; }
  .top-md {
    align-items: flex-start; }
  .bottom-md {
    align-items: flex-end; }
  .middle-md {
    align-items: center; }
  .first-md {
    order: -1; }
  .last-md {
    order: 1; } }

@media only screen and (max-width: 90rem) {
  [class*="col-lg"] {
    box-sizing: border-box;
    flex: 0 1 auto;
    padding: 0 1rem; }
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .start-lg {
    justify-content: flex-start;
    text-align: start; }
  .end-lg {
    justify-content: flex-end;
    text-align: end; }
  .center-lg {
    justify-content: center;
    text-align: center; }
  .top-lg {
    align-items: flex-start; }
  .bottom-lg {
    align-items: flex-end; }
  .middle-lg {
    align-items: center; }
  .first-lg {
    order: -1; }
  .last-lg {
    order: 1; } }

[class*="col-xs"] {
  box-sizing: border-box;
  flex: 0 1 auto;
  padding: 0 1rem; }

.col-xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.start-xs {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start; }

.end-xs {
  justify-content: flex-end;
  text-align: end; }

.center-xs {
  justify-content: center;
  text-align: center; }

.top-xs {
  align-items: flex-start; }

.bottom-xs {
  align-items: flex-end; }

.middle-xs {
  align-items: center; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

main {
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Nunito Sans";
  transition: right 0.5s;
  overflow-x: hidden;
  overflow-y: auto; }

main[shifted] {
  right: 250px; }

main::-webkit-scrollbar {
  width: 7px; }

main::-webkit-scrollbar-track {
  background: white; }

main::-webkit-scrollbar-thumb {
  width: 7px;
  background: #3C3C60;
  border-radius: 2.5px; }

section {
  width: 100%; }

header.logo {
  width: 100%;
  padding: 8px 32px;
  background-color: white;
  user-select: none;
  -webkit-user-select: none; }

header.logo div.info,
header.logo div.image {
  float: left;
  text-align: left; }

header.logo div.image {
  width: 75px;
  height: 75px;
  margin-right: 5px; }

header.logo div.image img {
  height: inherit;
  width: inherit;
  position: absolute;
  -webkit-user-drag: none; }

header.logo div.image img:not(.preload) {
  transition: transform 1.5s;
  -webkit-transition: 1.5s;
  transform: scale(1, 1) rotate(0deg);
  -webkit-transform: scale(1, 1) rotate(0deg);
  transform-origin: center;
  -webkit-transform-origin: center; }

header.logo div.image img.preload.outer {
  transform: scale(0, 0) rotate(360deg);
  -webkit-transform: scale(0, 0) rotate(360deg);
  transform-origin: center;
  -webkit-transform-origin: center; }

header.logo div.image img.preload.inner {
  transform: scale(0, 0) rotate(-180deg);
  -webkit-transform: scale(0, 0) rotate(-180deg);
  transform-origin: center;
  -webkit-transform-origin: center; }

header.logo a {
  text-decoration: none; }

header.logo .info {
  margin-top: 14px;
  font-weight: 700;
  font-family: "Open Sans";
  text-transform: uppercase; }
  @media screen and (max-width: 599px) {
    header.logo .info {
      display: none; } }

header.logo .info .name {
  color: #3C3C60;
  font-size: 16pt; }

header.logo .info .title {
  color: #6A6A87;
  font-size: 9.4pt; }

header.menu {
  position: fixed;
  top: 0;
  right: 32px;
  height: 98px;
  width: 25px;
  z-index: 2; }

header.menu .hamburger {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateT(-50%);
  cursor: pointer; }

header.menu .hamburger .line {
  height: 2px;
  width: 100%;
  margin: 4px auto;
  background: #3C3C60;
  transition: 0.25s; }

header.menu:not([open]) .hamburger:hover .line {
  margin: 6px auto; }

header.menu[open] .hamburger:hover .line {
  width: 90%; }

header.menu[open] .hamburger .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  -webkit-transform: translateY(6px) rotate(45deg); }

header.menu[open] .hamburger .line:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

header.menu[open] .hamburger .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  -webkit-transform: translateY(-6px) rotate(-45deg); }

header.navigation {
  position: fixed;
  height: 100%;
  width: 250px;
  margin-left: 100%;
  background: white;
  transition: box-shadow 0.5s;
  z-index: 1; }

main[shifted] header.navigation {
  box-shadow: -15px 0px 25px rgba(0, 0, 50, 0.3); }
