// Styling for <bg> tag

@import "../Theme";

$line-width: 2px;
$grid-size: 32px;

bg {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    // background-image: linear-gradient($line-color $line-width, transparent $line-width), 
    //     linear-gradient(90deg, $line-color $line-width, transparent $line-width);
    // background-size: $grid-size $grid-size;
}

#pattern-hex polygon {
    fill: none;
    stroke: #EBEBF4;
    stroke-width: 5;
}