// Styling for button types

@import "../Theme";

.btn {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px solid transparent;
    border-radius: 4px;
    margin: 0;
    padding: 0.375rem 0.75rem;
    overflow: hidden;
    line-height: 1.5;
    transition: all 0.15s ease-in-out;
    transform-style: preserve-3d;

    font-family: inherit;
    @include font-size(8);
    font-weight: font-weight(semi-bold);
    text-transform: uppercase;


    &:not(.disabled),
    &:not(:disabled) {
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.45;
        pointer-events: none;
    }

    &:focus {
        outline: none;
    }

    &.is-rounded {
        border-radius: 290486px;
    }

    &.is-elevated {
        @include elevation(2);

        &:hover, &:focus {
            @include elevation(4);
        }

        &:active {
            @include elevation(8);
        }
    }

    @each $name, $setting in $themes {
        &.is-#{$name} {
            $background-color: theme-background-color($name);
            $color: theme-font-color($name);

            $hover: darken($background-color, 8);
            $active: darken($background-color, 16);

            background-color: $background-color;
            border-color: $background-color;
            color: $color;

            &:hover, &:focus {
                background-color: $hover;
                border-color: $hover;
            }

            &:active {
                background-color: $active;
                border-color: $active;
            }

            &.is-outline {
                background-color: transparent;
                border-color: $background-color;
                color: $background-color;

                &:hover, &:focus {
                    background-color: $background-color;
                    color: $color;
                }

                &:active {
                    background-color: $active;
                    border-color: $active;
                    color: $color;
                }
            }

            &.is-svg {
                color: inherit;
                padding: 0;
                border-radius: 0;
                background-color: transparent;
                border-color: transparent;
                
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover, &:focus {
                    color: $background-color;
                    transform: scale(1.2, 1.2);
                }

                &:active {
                    transform: scale(0.85, 0.85);
                }
            }

            &.is-text {
                background-color: transparent;
                border: none;
                border-color: transparent;
                color: $background-color;

                &:hover, &:focus {
                    background-color: rgba($background-color, 0.15);
                }

                &:active {
                    background-color: rgba($background-color, 0.25);
                }

                &.is-custom {
                    @include for-not-ie {
                        $default: theme-background-color(primary);
                        $var: --button-background-color;
                        color: $default;
                        color: var(#{$var}, #{$default});

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: -1;
                            opacity: 0;
                            transition: all 0.15s ease-in-out;

                            background-color: $default;
                            background-color: var(#{$var}, #{$default});
                        }

                        
                        &:hover, &:focus {
                            background-color: transparent;

                            &::after {
                                opacity: 0.15;
                            }
                        }

                        &:active {
                            background-color: transparent;

                            &::after {
                                opacity: 0.25;
                            }
                        }
                    }
                }
            }
        }
    }
}