// Classes to define elevation of elements

@import "../Theme";

@for $i from 0 through 24 {
  .elevation-#{$i} {
    @include elevation($i);
  }

  .hover-elevation-#{$i} {
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    &:hover {
      @include elevation($i);
      z-index: 1;
    }
  }
}
