// CSS Flexbox library

@use 'sass:math';

@import "../Theme.scss";

// Defines a flexbox
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    // Centers flexbox on the page
    &.center {
        margin: 0 auto;
    }

    // Defines a row
    &.row {
        flex-direction: row;
    }

    // Defines a column
    &.col {
        flex-direction: column;
    }

    // Classes to be used with a breakpoint size
    // The page will render the largest one possible depending on the screen size
    @each $name, $size in $breakpoints {
        @include for-viewport-up($name) {

            // Enable wrapping
            &.#{$name}-wrap {
                flex-wrap: wrap;
            }

            // Disable wrapping
            &.#{$name}-nowrap {
                flex-wrap: nowrap;
            }

            &.row {
                // Reverse direction
                &.#{$name}-reverse {
                    flex-direction: row-reverse;
                }

                // Flex item positioning

                &.#{$name}-x-begin {
                    justify-content: flex-start;
                }
    
                &.#{$name}-x-center {
                    justify-content: center;
                }
    
                &.#{$name}-x-end {
                    justify-content: end;
                }
    
                &.#{$name}-y-begin {
                    align-items: flex-start;
                }
    
                &.#{$name}-y-center {
                    align-items: center;
                }
    
                &.#{$name}-y-end {
                    align-items: flex-end;
                }
    
                // Flex item classes (direct children)
                > * {
                    &.#{$name}-x-self-begin {
                        margin-right: auto;
                    }
    
                    &.#{$name}-x-self-center {
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &.#{$name}-x-self-end {
                        margin-left: auto;
                    }

                    &.#{$name}-y-self-begin {
                        align-self: flex-start;
                    }

                    &.#{$name}-y-self-center {
                        align-self: center;
                    }

                    &.#{$name}-y-self-end {
                        align-self: flex-end;
                    }

                    // Width sizes in a row
                    @for $i from 1 through $grid-columns {
                        &.#{$name}-#{$i} {
                            flex-basis: math.div(100%, $grid-columns) * $i;
                            max-width: math.div(100%, $grid-columns) * $i;
                        }
                    }
                }
            }

            &.col {
                // Reverse direction
                &.#{$name}-reverse {
                    flex-direction: column-reverse;
                }

                // Flex item positioning

                &.#{$name}-y-begin {
                    justify-content: flex-start;
                }
    
                &.#{$name}-y-center {
                    justify-content: center;
                }
    
                &.#{$name}-y-end {
                    justify-content: end;
                }
    
                &.#{$name}-x-begin {
                    align-items: flex-start;
                }
    
                &.#{$name}-x-center {
                    align-items: center;
                }
    
                &.#{$name}-x-end {
                    align-items: flex-end;
                }
    
                // Flex item classes (direct children)
                > * {
                    &.#{$name}-y-self-begin {
                        margin-bottom: auto;
                    }
    
                    &.#{$name}-y-self-center {
                        margin-top: auto;
                        margin-bottom: auto;
                    }

                    &.#{$name}-y-self-end {
                        margin-top: auto;
                    }

                    &.#{$name}-x-self-begin {
                        align-self: flex-start;
                    }

                    &.#{$name}-x-self-center {
                        align-self: center;
                    }

                    &.#{$name}-x-self-end {
                        align-self: flex-end;
                    }
                }
            }

            &.row, &.col {
                > * {
                    // Use size of content
                    &.#{$name}-auto {
                        flex: 0 0 auto;
                    }

                    // Grow to flexbox
                    &.#{$name}-grow {
                        flex-grow: 1;
                    }

                    // Shrink to flexbox
                    &.#{$name}-shrink {
                        flex-shrink: 1
                    }

                    // Set flex to 1
                    &.#{$name}-flex-1 {
                        flex: 1;
                    }

                    // Set width to 100%
                    &.#{$name}-full {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}