// A few general-purpose classes

@import "../Theme";

// Styling for any div with the "row" class
// Used to keep things in a row with each other
.row {
    max-width: 75rem;
    margin: 0 auto;
}

// Container holding floating content
.float-container {
    overflow: hidden;
}

.card {
    width: 90%;
    height: 100%;
    background-color: $bg-primary;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}
