// A few general-purpose classes

@import "../Theme";

// Container holding floating content
.float-container {
    overflow: hidden;

    .left {
        float: left;
        text-align: left;
    }

    .right {
        float: right;
        text-align: right;
    }
}

// Container for content
.container, .card {
    background-color: transparent;
    margin: 0 auto;
    max-width: 960px;
}

// Card to hold content
.card {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 shadow(0.16), 0 2px 10px 0 shadow(0.16);
    position: relative;
    overflow: hidden;

    >.image {
        height: 200px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;

        &~.content {
            padding: 1rem;
        }
    }

    >.content {
        padding: 3.5rem 2rem;

        >.title {
            margin-bottom: 1.5rem;

            @include for-mobile {
                margin-bottom: 0.75rem;
            }
        }

        >.body {
           &~.options {
               margin-top: 1rem;
           } 
        }

        >.options {
            text-align: left;
        }
        
        hr {
            margin: 0 auto 1rem;
            border: none;
            background-color: shadow(0.1);
            height: 3px;
        }
    }

    @each $name, $setting in $themes {
        &.is-#{$name} {
            background-color: theme-background-color($name);
            color: theme-font-color($name);
        }
    }
}
