// Styling for <main> tag

@import "../Theme";

main {
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: $font-family;
    transition: right $menu-speed;
    overflow-y: scroll;
    overflow-x: hidden;
}

main[shifted] {
    right: $menu-size;
}
