// Custom scrollbar on right side of page

@import "../Theme";

main .scroll::-webkit-scrollbar {
    width: 7px;
}

main .scroll::-webkit-scrollbar-track {
    background: $bg-primary;
}

main .scroll::-webkit-scrollbar-thumb {
    width: 7px;
    background: $bg-dark;
    border-radius: 2.5px;
}