// Custom scrollbar on right side of page

@import "../Theme";

main {
    .scroll {
        position: relative;
        
        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background: theme-background-color(secondary);
        }

        &::-webkit-scrollbar-thumb {
            width: 7px;
            background: theme-background-color(dark);
            border-radius: 2.5px;
        }
    }
}