// Styling for font sizes

@import '../Theme.scss';

.is-size-5 {
    font-size: 0.75rem;

    @include for-mobile {
        font-size: 0.5rem;
    }
}

.is-size-4 {
    font-size: 1rem;

    @include for-mobile {
        font-size: 0.75rem;
    }
}

.is-size-3 {
    font-size: 1.25rem;

    @include for-mobile {
        font-size: 1rem;
    }
}

.is-size-2 {
    font-size: 1.5rem;

    @include for-mobile {
        font-size: 1.25rem;
    }
}

.is-size-1 {
    font-size: 2rem;

    @include for-mobile {
        font-size: 1.5rem;
    }
}

.is-bold {
    font-weight: $font-weight-bold;
}

.is-normal-weight {
    font-weight: $font-weight-normal;
}

.is-light-weight {
    font-weight: $font-weight-light;
}

.is-italic {
    font-style: italic;
}

.is-light-color {
    color: $font-color-light;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-centered {
    text-align: center;
}

.is-justified {
    text-align: justify;
}

.is-left-aligned {
    text-align: left;
}

.is-right-aligned {
    text-align: right;
}

.is-quote {
    padding-left: 1rem;
    border-left: 0.25rem solid $bg-secondary;
}

.is-handwriting {
    font-family: $font-family-handwriting;
}