// Styling for font sizes

@import '../Theme.scss';

.is-size-6 {
    font-size: 0.75rem;

    @include for-mobile {
        font-size: 0.625rem;
    }
}

.is-size-5 {
    font-size: 0.875rem;

    @include for-mobile {
        font-size: 0.75rem;
    }
}

.is-size-4 {
    font-size: 1rem;

    @include for-mobile {
        font-size: 0.875rem;
    }
}

.is-size-3 {
    font-size: 1.25rem;

    @include for-mobile {
        font-size: 1rem;
    }
}

.is-size-2 {
    font-size: 1.5rem;

    @include for-mobile {
        font-size: 1.25rem;
    }
}

.is-size-1 {
    font-size: 2rem;

    @include for-mobile {
        font-size: 1.5rem;
    }
}

@each $name, $weight in $font-weights {
    .is-#{$name}-weight {
        font-weight: $weight;
    }
}

.is-italic {
    font-style: italic;
}

@each $name, $color in $font-colors {
    .is-#{$name}-color {
        color: $color;
    }
}

.is-uppercase {
    text-transform: uppercase;
}

.is-centered {
    text-align: center;
}

.is-justified {
    text-align: justify;
}

.is-left-aligned {
    text-align: left;
}

.is-right-aligned {
    text-align: right;
}

.is-quote {
    padding-left: 1rem;
    border-left: 0.25rem solid get-background-color(primary);
}

.is-handwriting {
    font-family: font-family(handwriting);
}

.text {
    word-break: break-word;

    &.title {
        font-weight: font-weight(bold);
        line-height: 1;
    }

    &.subtitle {
        font-weight: font-weight(light);
        line-height: 1.125;
    }

    &.body {
        font-weight: font-weight(light);
        line-height: 1.5;
        text-align: justify;
    }
}