// Variables for the page's overall theme

$root-font-size: 16px;

$bg-base: #F4F4F9;
$bg-primary: white;
$bg-secondary: #29ab87;
// #30b57d;
// #309e94
$bg-dark: #3C3C60;
$bg-gray: #EFEFF4;

@function shadow($opacity) {
    @return rgba(0,0,50,$opacity);
}

$font-color-dark: #3C3C60;
$font-color-light: #6A6A87;
$font-color-white: white;
$font-color-link: #654AA5;

$font-family: "Nunito Sans";
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;

$logo-font-family: "Open Sans";

$menu-speed: 0.5s;
$menu-size: 13.4375rem;


@mixin for-mobile {
    @media screen and (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media screen and (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media screen and (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media screen and (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media screen and (min-width: 1800px) { @content; }
}

@mixin for-ie {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}